@import './master.css';

table.result {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.result th, table.result td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #bbb;
}

table.result tr:hover td, table.result th {
    border-bottom: 2px solid #1946BA;
}

table.result th.number, table.result td.number {
    width: 3em;
}

table th.number {
    font-style: italic;
}
