@import './master.css';

#x-group, #y-group, #r-group {
    margin: 8px auto;
}

/*
 * #r-group
 */

#r-group label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    padding-top: 2px;
    padding-right: 8px;
    margin: auto 4px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
}

#r-group label:hover {
    color: #1946ba;
}

#r-group label .check {
    display: block;
    position: absolute;
    border: 4px solid #BBB;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
    z-index: 5;
}

#r-group label:hover .check {
    border: 4px solid #1946ba;
}

#r-group input[type=radio] {
    visibility: hidden;
    position: absolute;
}

#r-group .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 4px;
    left: 4px;
    margin: auto;
}

#r-group input[type=radio]:checked ~ .check {
    border: 4px solid #1946ba;
}

#r-group input[type=radio]:checked ~ .check::before {
    background: #1946ba;
}

#r-group input[type=radio]:checked ~ label {
    color: #1946ba;
}

/*
 * #x-group
 */

#x-group .x-button {
    font-size: medium;
    min-width: 3em;
}

#x-group .x-button:hover {
    background: #fff;
    border: 2px solid #1946ba;
    color: #1946ba;
    cursor: pointer;
    outline: none;
}

#x-group .x-button.active {
    font-weight: bold;
    color: #1946ba;
    border-color: #1946ba;
    text-decoration: none;
}
