<tr id="footer">
    <td class="contacts" colspan="3">
        <span class="helper"></span>
        <a id="repository" href="https://gitlab.com/cold-icy-ice/aqualung">
            <img src="./img/gitlab.png"
                 style="vertical-align: middle; max-height: 15px;">
            <span>cold-icy-ice/aqualung</span>
        </a>
    </td>
    <td class="copy" colspan="6">
        &copy; Илья Шульгин и Егор Дубенецкий,
        20<span style="color: #eb3b67;">!</span>7
    </td>
    <td class="institution" colspan="3">
        <img src="./img/slogan.png" alt="IT's MOre than a university">
    </td>
</tr>
