<tr id="header">
    <td class="logo" colspan="3">
        <img src="./img/itmo-logo.png" alt="Университет ИТМО">
    </td>
    <td class="title" colspan="6">
        Лабораторная работа
    </td>
    <td class="pond" colspan="3">
        <a href="https://se.ifmo.ru">
            <img src="./img/chicken.png" alt="Кура ВТ">
        </a>
    </td>
</tr>
